node_modules/
.env
.env.local
.DS_Store
*.log
logs/
dist/
build/
.vscode/
.idea/
*.swp
*.swo
*~
.npmrc
package-lock.json
yarn.lock
.cache/
.next/
out/
.nuxt/
dist/
.cache/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
uploads/process_steps/

