node_modules/
.env
.env.local
.DS_Store
*.log
*_log.txt
logs/
dist/
build/
.vscode/
.idea/
*.swp
*.swo
*~
.npmrc
package-lock.json
yarn.lock
.cache/
.next/
out/
.nuxt/
dist/
.cache/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
uploads/process_steps/*
!uploads/process_steps/.gitkeep
uploads/steps/*
!uploads/steps/.gitkeep
uploads/archives/*
!uploads/archives/.gitkeep
uploads/visual_processes/*
!uploads/visual_processes/.gitkeep
uploads/branding/*
!uploads/branding/.gitkeep


